.socials_container {
  margin-top: 10px;
  text-align: center;
  width: 100%;
}

.left_link_container {
  border-radius: 100px 20px / 120px;
  padding: 5% 6% 5% 6%;
  margin: 0px 0px 45px 0px;
  width: 70%;
  box-shadow: 3px 3px 10px 4px var(--color-primary-diff);
  text-align: left;
  display: inline-block;
  text-shadow: 2px 2px 3px var(--color-secondary);
}

.left_link_container p {
  display: none;
}

.left_link_container h2 {
  font-size: 1.25em;
  text-shadow: 3px 3px 4px var(--color-secondary);
}

.left_link_container h2:hover {
  color: var(--color-secondary);
  font-style: italic;
}

.right_link_container {
  border-radius: 20px 100px / 120px;
  padding: 5% 6% 5% 6%;
  margin: 0px 0px 45px 0px;
  width: 70%;
  box-shadow: 3px 3px 10px 4px var(--color-primary-diff);
  display: inline-block;
  text-align: right;
  text-shadow: 3px 3px 4px var(--color-secondary);
}

.right_link_container p {
  display: none;
}

.right_link_container h2 {
  font-size: 1.25em;
  text-shadow: 3px 3px 4px var(--color-secondary);
}

.right_link_container h2:hover {
  color: var(--color-secondary);
  font-style: italic;
}

/* maintains centered layout on extremely small screens
such as the Galaxy Fold  */
@media (max-width: 345px) {
  .left_link_container {
    width: 80%;
    padding: 4% 5% 4% 9%;
  }

  .left_link_container h2 {
    font-size: 1.25em;
  }

  .right_link_container {
    width: 80%;
    padding: 4% 5% 4% 5%;
  }

  .right_link_container h2 {
    font-size: 1.25em;
  }
}

@media (min-width: 769px) {
  .left_link_container {
    padding: 25px 30px 25px 30px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .right_link_container {
    padding: 25px 30px 25px 30px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

}